#container{
    height: 640px;
    width: 1024px;
    margin: auto;
    border: 1px solid black;
}

#helpdiv{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
#helpdiv:hover, #language:hover, #controls img:hover{
    cursor: pointer;
}

#language{
    float:right;
    margin: 10px;
}

header form{
    padding-top:5px; 
    float: left;
    margin: 10px;
    clear: both;
}

input[type=text] {
    height: 25px;
    margin-left: 3px; 
}

#controls{
    float: right;
    margin-right: 5px;
}

#controls img{
    margin: 10px;
}

.btn {
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #3498db;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

#reset {
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #3498db;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

#reset:hover {
    background: #3cb0fd;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    text-decoration: none;
}

#treeContainer{
    margin-top: 120px;
}

.node{
    height: 70px;
    width: 70px;
    text-align: center;
    border-style: solid;
    border-radius: 100%;
    border-color: red;
    border-width: 3px;
}

#info{
    border: 1px solid black;
    margin-left: 30px;
    margin-right: 30px;
    height: 50px;
    padding: 10px;
    font-family: sans-serif;
}

#dilma{
    font-family: sans-serif;
    position: fixed;
    top: 222px;
    left: 310px;
}

h1{
    text-align: center;
    color:#3498db;
    display: block;
}


h1,h2{
    font-family: sans-serif;

    display: block;
        margin: 20px;
}

#next{
    margin-left: 45%;
    text-align: center;
}

#content{
    display: block;
    margin-top: 75px;
    margin-left: 30px;
    margin-right: 30px;

}

#divcabecas{
    margin-top: 50px;
    margin-left: 20px;
    padding-bottom: 75px;
}

figure{
    width: 33%;
    float: left;
    margin: 0px;
    text-align: center;
    padding: 0px;
}